.hero {
    padding: 15px 0 56px;
    background: url("/img/profile-bg.webp");
    background-size: 800px 154px;
    background-position: center top;
    background-repeat: no-repeat;
}
.hero_title_container {
    margin-top: 48px;
    position: relative;
    display: inline-block;
}
.hero_title {
    font-size: 48px;
}
.hero_title_join {
    width: 110px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-5%, -50%) rotate(40deg);
}