.claim {
    padding: 48px 0;
}

.claim_wrapper {
    margin: 0 auto;
    max-width: 1084px;
    border-radius: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    transform: scale(0);
}

.claim_content {
    padding: 50px 20px 48px 38px;
    background: getColorWhite();

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    z-index: 1;
}

.claim_content_img {
    position: absolute;
    width: 174px;
    right: 10%;
    bottom: 130px;
    z-index: -1;
    transform: rotate(80deg)
}

.claim_content_title {
    @include setFontHelveticaStd700(60px, 1, -0.04em, getColorBlack());

    > strong {
        position: relative;
        z-index: 1;

        white-space: nowrap;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1.06, 1);
            border-radius: 0.3333em;
            z-index: -1;
            background: getColorPrimary();
        }
    }

    :global(.claim-content-segments) {
        white-space-collapse: preserve;
        span {
            display: inline-block;
            opacity: 0;
            transform: scale(0);
        }
    }
}

.claim_content_text {
    margin-top: 16px;
    @include setFontPPMori600(18px, 1.05, normal, rgba(#141414, 0.8));
    opacity: 0;
}

.claim_content_btn {
    margin-top: 32px;
    opacity: 0;
    transform: scale(0);

    > span {
        min-width: 185px;
    }
}

.claim_bottom_text {
    margin-top: 120px;
    padding-top: 20px;
    border-top: 1px solid getColorBlack();
    @include setFontPPMori400(14px, 1.1, normal, rgba(#141414, 0.8));
}

.claim_animation {
    position: relative;
}

.claim_animation_img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
}

@include -screen-lg {
    .claim_content_title {
        font-size: 36px;
        display: flex;
        flex-direction: column;
    }
}

@include -screen-md {
    .claim_wrapper {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        width: auto;
        margin: 0 (-$padding-lg);
    }
    .claim_animation {
        height: 385px;
        order: -1;
    }
    .claim_content_title {
        font-size: 52px;
    }
}

@include -screen-sm {
    .claim_content {
        padding: 24px;
    }
    .claim_content_img {
        width: 110px;
        bottom: 114px;
        right: 24px;
    }
    .claim_content_title {
        font-size: 36px;
    }
    .claim_content_text {
        font-size: 16px;
    }
}