@keyframes starRotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.exclusives_wrapper {
    padding: 55px 0 130px;
}
.exclusives_title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    gap: 0.43em;
    position: relative;
    z-index: 2;
}
.exclusives_logo {
    font-size: inherit;
    pointer-events: none;

    span {
        opacity: 0;
        transform: scale(0);
    }
}
.exclusives_title {
    font-size: inherit;

    > span {
        font-size: inherit !important;
    }
}
.exclusives_sliders {
    display: flex;
    perspective: 1000px;
    transform: scale(0.4);
    opacity: 0;
}
.exclusives_content {
    max-width: 966px;
    margin: 42px auto 0;
    position: relative;
}
.exclusives_slider {
    perspective: none !important;
    // height: 483px;
    aspect-ratio: 1;
}
.exclusives_sliders_slider {
    width: 50%;

    &:first-child {
        .slide {
            border-radius: 20px 0 0 20px;
        }
    }

    &:last-child {
        .slide {
            border-radius: 0 20px 20px 0;
        }
    }
}

// Slide
.slide {
    background: #212121;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // position: relative;

    &::before {
        content: "";
        display: block;
        width: 260px;
        height: 102px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: #bfdbff;
        opacity: 0.4;
        filter: blur(160px);
    }

    &:nth-child(3n + 1) {
        &._bg {
            background: getColorPrimary();
        }
        &::before {
            background: getColorPrimary();
        }
        .slide_marquee {
            background: getColorPrimary();
        }
    }

    &:nth-child(3n + 2) {
        &._bg {
            background: getColorYellow();
        }
        &::before {
            background: getColorYellow();
        }
        .slide_marquee {
            background: getColorYellow();
        }
    }

    &:nth-child(3n + 3) {
        &._bg {
            background: getColorSecondary();
        }
        &::before {
            background: getColorSecondary();
        }
        .slide_marquee {
            background: getColorSecondary();
        }
    }
}
.slide_light {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1070px;
    aspect-ratio: 1;
    opacity: 0.2;
}
.slide_stars {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
    width: 60%;
    aspect-ratio: 1 / 0.937;

    img {
        &:first-child {
            width: 7%;
            position: absolute;
            right: 0;
            top: 0;
            animation: starRotation 2s linear infinite reverse;
        }
        &:nth-child(2) {
            width: 7%;
            position: absolute;
            left: 16.35%;
            bottom: 0;
            animation: starRotation 3s linear infinite ;
        }
        &:nth-child(3) {
            width: 11.3%;
            position: absolute;
            left: 0%;
            bottom: 11.7;
            animation: starRotation 8s linear infinite reverse;
        }
    }
}
.slide_text {
    @include setFontHelveticaStd700(48px, 1.1, -0.04em, getColorWhite());

    span {
        position: relative;
        color: getColorBlack();

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 105%;
            height: 95%;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: getColorSecondary();
            border-radius: 0.3em;
        }
    }
}

.slide_marquee {
    display: flex;
    position: absolute;
    left: 0;
    top: 20%;
    background: #bfdbff;
    transform: translate(-50%, 50%) rotate(-30deg);
}
.slide_marquee_item {
    height: 39px;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 0 4px;

    @include setFontHelveticaStd700(16px, 1.2, normal, #2a2a2c);
    animation: marqueeToLeft 10s linear infinite;
    text-transform: uppercase;

    svg {
        width: 1.1em;
        fill: #2a2a2c;
    }
}
.slide_image {
    width: 85%;
    aspect-ratio: 1 / 0.585;
    border-radius: 16px;
    border: 8px solid #000;
    position: relative;
}
.slide_image_game {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;

    &:hover + .slide_image_cursor {
        opacity: 0;
    }
}
.slide_image_cursor {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 51px;
    transform: translate(0, 70%);
    transition: opacity 500ms ease;

    img {
        animation: rotationCoin 5s linear infinite;
    }
}
.slide_image_stars {
    width: 63px;
    aspect-ratio: 1 / 0.9;
    position: absolute;
    right: 18px;
    bottom: 100%;
    transform: translateY(-20px);

    img {
        position: absolute;

        &:first-child {
            left: 0;
            top: 0;
            width: 55.5555%;
            animation: starRotation 3s linear infinite;
        }

        &:last-child {
            right: 0;
            bottom: 0;
            width: 35%;
            animation: starRotation 4s linear infinite reverse
        }
    }
}
.slide_image_join {
    position: absolute;
    width: 28.8%;
    left: 0;
    top: 0;
    transform: translate(-30%, -50%);
    pointer-events: none;
}

// Controls
.exclusives_controls {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(50px, -50%);
}
.exclusives_controls_inner {
    display: flex;
    flex-direction: column;
    gap: 12px;

    transform: translate(100%, 100%);
    opacity: 0;
}
.exclusives_controls_button {
    &:nth-child(1) {
        transform: rotate(90deg);
    }
    &:nth-child(2) {
        transform: rotate(90deg);
    }
}

@keyframes marqueeToLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@include -screen-xxxl {
    .exclusives_title_container {
        font-size: 52px;
    }
    .exclusives_content {
        max-width: 860px;
    }
}

@include -screen-xxl {
    .exclusives_controls {
        margin-top: 40px;
        inset: 0;
        position: relative;
        transform: translate(0);
    }
    .exclusives_controls_inner {
        flex-direction: row;
        justify-content: center;
    }
    .exclusives_controls_button {
        &:nth-child(1) {
            transform: none;
        }
        &:nth-child(2) {
            transform: none;
        }
    }
}

@include -screen-lg {
    .exclusives_title_container {
        font-size: 46px;
    }
}

@include -screen-md {
    .exclusives_title_container {
        font-size: 44px;
    }
    .exclusives_sliders {
        flex-direction: column;
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;
    }
    .exclusives_sliders_slider {
        width: 100%;

        &:first-child {
            .slide {
                border-radius: 20px 20px 0 0;
            }
        }

        &:last-child {
            .slide {
                border-radius: 0 0 20px 20px;
            }
        }
    }
    .slide_text {
        font-size: 32px;
    }
    .slide_marquee_item {
        font-size: 12px;
        height: 31px;
    }
}

@include -screen-sm {
    .exclusives_title_container {
        font-size: 32px;
    }
    .exclusives_sliders {
        max-width: 80vw;
    }
}
