.claim_mark {
    width: 40px;
}

.claim_title {
    margin-top: 26px;
    font-size: 20px !important;
}

.claim_text {
    margin-top: 18px;
    max-width: 254px;
    text-align: center;

    @include setFontPPMori600(16px, 1.1, normal, getColorWhite());

    img {
        display: inline;
        width: 0.9375em;
    }
}

.claim_again {
    margin-top: 24px;
    text-align: center;
    max-width: 191px;
    @include setFontPPMori400(14px, 1.1, normal, getColorWhite());
}

.claim_buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.claim_buttons_btn {
    > span {
        min-width: 95px;
    }
}

.claim_claimedBtn {
    margin-top: 40px;
}
