.invitation {
    padding: 40px 0;
}

.invitation_banner {
    height: 235px;
    border-radius: 25px;
    background: url("/img/home/invite-banner.webp");
    background-size: cover;
    background-position: center;
}

.invitation_content {
    max-width: 411px;
    margin: 0 auto;
    padding: 44px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.invitation_title {
    text-align: center;
    @include setFontHelveticaStd700(40px, 1.1, -0.04em, #121411);
    span {
        color: #478a14;
    }
}

.invitation_btn {
    margin-top: 24px;
    transform: rotate(-4deg);

    > span {
        font-size: 18px;
    }
}

@include -screen-lg {
    .invitation_banner {
        height: auto;
        background: url("/img/home/invite-banner@mob.v2.webp");
        background-color: getColorPrimary();
        background-size: auto 100%;
        background-position: center top;
        background-repeat: no-repeat;
    }
    .invitation_content {
        padding-top: 56px;
        padding-bottom: 24px;
    }
    .invitation_title {
        font-size: 32px;
        max-width: 8em;
    }
}
@include -screen-md {
    .invitation_title {
        font-size: 26px;
    }
    .invitation_btn {
        > span {
            font-size: 14px;
            padding-left: 24px;
            padding-right: 24px;
            min-width: auto;
            height: 36px;
        }
    }
}

@include -screen-sm {
    .invitation_title {
        font-size: 20px;
    }
}