.hero_filters {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
}
.hero_filters_field {
    flex-grow: 1;
    position: relative;
}
.hero_filters_input {
    width: 100%;
}
.hero_dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid getColorWhite(0.15);
    max-width: 100%;
    min-width: 375px;
    z-index: 50;
    background: #212121;
}
.hero_dropdown_type {
    padding: 32px 20px;
    text-align: center;
    @include setFontABeeZee400(14px, 1.1, normal, getColorWhite());
}
.hero_dropdown_recent_title {
    padding: 16px 12px;
    @include setFontPPMori600(16px, 1.1, normal, getColorWhite());
}
.hero_dropdown_recent_option {
    padding: 8px 12px;
    @include setFontPPMori600(14px, 1, normal, getColorGray());
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    button {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        padding: 2px;

        svg {
            width: 100%;
            height: 100%;
            stroke: getColorWhite();
        }
    }

    &:hover {
        background: darken(#212121, 2%);
    }
}
.hero_dropdown_clearAll {
    width: 100%;
    padding: 12px;
    text-align: center;
    border-top: 1px solid getColorWhite(0.15);
    border-radius: 0 0 10px 10px;

    @include setFontPPMori600(14px, 1, normal, getColorPrimary());

    &:hover {
        background: darken(#212121, 2%);
    }
}

.hero_filters_buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero_filters_item {
    display: flex;
    align-items: center;
    gap: 8px;

    > svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        stroke: getColorGray();
    }

    + .hero_filters_item {
        padding-left: 17px;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 20.5px;
            background: getColorGray();
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.hero_filters_name {
    white-space: nowrap;
    @include setFontPPMori600(14px, 1, normal, getColorGray());
    margin-right: 8px;
    user-select: none;
}

@include -screen-md {
    .hero_filters_field {
        width: 100%;
    }
    .hero_filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }
    .hero_filters_buttons {
        gap: 10px;
    }
    .hero_filters_name {
        font-size: 12px;
    }
    .hero_filters_item {
        gap: 4px;

        > svg {
            width: 16px;
            height: 16px;
        }

        + .hero_filters_item {
            padding-left: 11px;
        }
    }
    .hero_filters_name {
        margin-right: 4px;
    }
}

@media screen and (max-width: 389.98px) {
    .hero_filters_buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;

        [data-filter] {
            width: 100%;

            button {
                width: 100%;
                justify-content: space-between;
            }
        }
        [data-filter-dropdown] {
            right: auto;
            left: 0;
        }
    }
    .hero_filters_item {
        > svg,
        > p {
            display: none;
        }

        &::before {
            display: none !important;
        }

        + .hero_filters_item {
            padding-left: 0;
        }
    }
}
