.chapter {
    position: relative;

    &::before {
        content: "";
        display: block;
        border-radius: 12px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        right: -7px;
        bottom: -6px;
    }

    &._red {
        .chapter_content_label {
            background: getColorRed();
        }
        &::before {
            background: linear-gradient(210deg, #941F38 40%, #FF3D4B 40%, #FF3D4B);
        }
    }

    &._yellow {
        .chapter_content_label {
            background: getColorYellow();
            color: getColorBlack();
        }
        &::before {
            background: linear-gradient(210deg, #544A00 40%, #FADE66 40%, #FADE66);
        }
    }

    &._blue {
        .chapter_content_label {
            background: getColorSecondary();
            color: getColorBlack();
        }
        .chapter_svg {
            fill: #ecf4ff;
        }
        &::before {
            background: linear-gradient(210deg, #464F5D 40%, #BFDBFF 40%, #BFDBFF);
        }
    }

    &:hover {
        .chapter_content {
            transform: translate(7px, 6px);
        }
    }
}

.chapter_content {
    height: 86px;
    border-radius: 12px;
    background: getColorWhite();
    border: 1px solid getColorBlack();
    padding: 13.5px 11px 15.5px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    z-index: 2;

    overflow: hidden;
    transition: transform 300ms ease;
}

.chapter_svg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    fill: #fffaea;
}

.chapter_image {
    position: absolute;
    right: 12px;
    top: 0;
    height: 100%;
    width: 112px;
    object-position: center right;
    object-fit: contain;
    z-index: -1;
}

.chapter_content_label {
    height: 15px;
    padding: 0px 4px;
    border-radius: 100px;
    @include setFontPPMori600(10px, 1.6, normal, getColorWhite());
    text-transform: uppercase;
}

.chapter_content_title {
    margin-top: 12px;
    max-width: 106px;

    @include setFontPPMori600(16px, 1.05, normal, getColorBlack());
}

@include -screen-xxl {
    .chapter_image {
        width: 80px;
        right: 4px;
    }
}

@include -screen-sm {
    .chapter {
        height: 100%;
    }
    .chapter_content {
        padding: 70px 13px 14px;
        height: 100%;
        align-items: center;
    }
    .chapter_image {
        width: 80px;
        right: auto;
        top: 6px;
        left: 50%;
        height: auto;
        transform: translateX(-50%);
        object-position: center;
    }
    .chapter_content_label {
        font-size: 8px;
        height: 12px;
    }
    .chapter_content_title {
        margin-top: 6px;
        font-size: 12px;
        text-align: center;
    }
}