.nl {
    background: #171916;
    border-radius: 16px;
    padding: 12px 6px 20px;
    padding-left: 12px;

    display: flex;
    flex-direction: column
}

.nl_title {
    @include setFontABeeZee400(14px, 1.1, normal, getColorWhite(0.5));
}

.nl_list {
    margin-top: 12px;
    flex: 1 1 auto;
    height: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
        padding-left: 6px;

        &-thumb {
            width: 6px;
            border-radius: 6px;
            background: #2F2F32;
        }
    }
}

.nl_list_item {
    padding: 12px 0;
    @include setFontABeeZee400(14px, 1.1, normal, getColorWhite());

    border-bottom: 1px solid getColorWhite(0.15);
}