.games {
    padding: 30px 0 80px;
}
.games_title_wrapper {
    margin-top: 28px;
    display: inline-block;
    position: relative;
}
.games_title {
    font-size: 48px;
}
.games_label {
    z-index: 2;
    width: 112px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-8%, -50%);
}
.games_list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 24px 20px;
}
.games_count {
    margin-top: 48px;
    text-align: center;
    @include setFontPPMori600(16px, 1.1, normal, getColorWhite());
}
