.hero {
    padding-top: 14px;
    padding-bottom: 36px;
}
.hero_image_container {
    margin-top: 24px;

    height: 728px;
    max-height: 90vh;
    width: 100%;
    border-radius: 24px;

    position: relative;
}
.hero_image {
    @include setCoveredImage();
    user-select: none;
    pointer-events: none;
}
.hero_image_btn {
    position: absolute;
    left: 18px;
    top: 22px;

    > span {
        min-width: auto;
    }

    svg {
        stroke: #141414;
        transform: translateY(-1px) scaleX(-1);
    }
}

@include -screen-lg {
    .hero_image_container {
        height: 580px;
    }
    .hero_breadcrumbs_container {
        @include setSubMargin(16px);
        overflow: auto;
    }
    .hero_breadcrumbs {
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

@include -screen-md {
    .hero_image_container {
        height: auto;
        border-radius: 0;
        max-height: auto;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .hero_image_btn {
        position: relative !important;
        inset: auto !important;
    }
    .hero_image {
        border-radius: 24px;
        height: 57vw;
    }
}

@include -screen-sm {
    .hero_image {
        border-radius: 12px;
    }
}