.payments_wrapper {
    background: #1D1D1F;
    padding: 80px 0;

}

.payments_box {
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
    border-radius: 60px;
    padding: 40px 48px 48px;
    background: #F9F9F9;
}