.payments_wrapper {
    background: #1F1F21;
    padding: 80px 0;
}
.payments_box {
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
    border-radius: 60px;
    padding: 40px 48px 48px;
    background: #f9f9f9;

    display: grid;
    grid-template-columns: 51.6% auto;
    position: relative;
    overflow: hidden;

    transform: scale(0);
    opacity: 0;
}
.payments_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 2;
}
.payments_content_icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #121411;
    padding: 16px;

    svg {
        fill: getColorWhite();
        width: 100%;
        height: 100%;
    }
}
.payments_content_title {
    margin-top: 26px;
    @include setFontHelveticaStd700(60px, 1, -0.04em, getColorBlack());
    white-space-collapse: preserve;

    strong {
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 107%;
            height: 100%;
            border-radius: 0.3333em;
            background: getColorYellow();
            z-index: -1;
        }
    }

    :global(.payments-title) span {
        display: inline-block;
        transform: scale(0);
        opacity: 0;
    } 
}
.payments_content_text {
    margin-top: 18px;
    @include setFontPPMori600(18px, 1.1, normal, rgba(#141414, 0.8));
    opacity: 0;
}
.payments_content_bottom {
    margin-top: 100px;
    @include setFontPPMori400(14px, 1.1, normal, rgba(#141414, 0.8));
    padding-top: 20px;
    border-top: 1px solid getColorGray();
    transform: translateY(20px);
    opacity: 0;
}
.payments_back {
    position: absolute;
    right: 42px;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    gap: 12px;
}
.payments_marquee {
    padding: 0 8px;
}
.payments_list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    flex-shrink: 0;
    padding: 14px 0;
}
.payments_list_item {
    flex-shrink: 0;
    position: relative;

    &::before {
        content: "";
        display: block;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        background: linear-gradient(210deg, #544a00 40%, #fade66 40%, #fade66);
    }

    &:hover {
        .payments_list_content {
            transform: translate(0, 0);
        }
    }
}
.payments_list_content {
    width: 172px;
    height: 112px;
    border-radius: 16px;
    background: getColorWhite();
    border: 0.8px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(-7px, -7px);
    position: relative;
    z-index: 2;
    transition: transform 500ms ease;

    img {
        width: 76.16%;
    }
}

@media screen and (max-width: 1084px) {
    .payments_box {
        border-radius: 0;
    }
    .payments_content_title {
        font-size: 52px;
    }
}

@include -screen-lg {
    .payments_box {
        padding: 24px;
        padding-top: 260px;
        display: block;
    }
    .payments_content_icon {
        width: 48px;
        height: 48px;
        padding: 12px;
    }
    .payments_content_title {
        font-size: 44px;
        max-width: 400px;
    }
    .payments_content_text {
        max-width: 600px;
    }
    .payments_list_content {
        width: 103px;
        height: 67px;
        border-radius: 10px;
    }
    .payments_back {
        height: auto;
        width: 100%;
        flex-direction: column;
        right: auto;
        bottom: auto;
        left: 0;
        top: 37px;
        gap: 0px;
    }
    .payments_list {
        flex-direction: row;
        padding: 11px 10px;
    }
    .payments_content_bottom {
        margin-top: 80px;
    }
}

@include -screen-sm {
    .payments_content_title {
        font-size: 32px;
        max-width: 305px;
    }
    .payments_content_text {
        margin-top: 24px;
        max-width: 305px;
        font-size: 16px;
    }
}