.other {
    padding-top: 100px;
    padding-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.slide {
    width: 150px;
}

@include -screen-sm {
    .other {
        gap: 40px;
    }
    .slide {
        width: 110px;
    }
}