.modal_window {
    overflow: hidden;
    padding: 0 !important;
}
.modal {
    margin-left: auto;
    margin-top: auto;
    max-width: 596px;
    width: 100%;
    height: calc(100vh - 74px);
    background: #121411;
    border-left: 1px solid getColorWhite(0.15);
}

.modal_head {
    padding: 35px 40px 20px;
}

.modal_head_row {
    position: relative;
}

.modal_head_row,
.modal_head_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal_head_title {
    @include setFontPPMori600(24px, 1.25, -0.04em, getColorWhite());

    &:after {
        margin-left: 8px;
        content: attr(data-count);
        font: inherit;
        color: getColorBlack();
        border-radius: 6px;
        background: getColorYellow();
        height: 1.5em;
        min-width: 1.5em;
        text-align: center;
        font-size: 0.625em;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        vertical-align: middle;
    }
}

.modal_head_left {
    position: relative;
}

.modal_head_closeBtn {
    position: absolute;
    top: 50%;
    right: calc(100% + 40px);
    transform: translate(50%, -50%);
}

.modal_head_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal_mark_item {
    display: flex;
    align-items: center;
    gap: 6px;

    @include setFontPPMori600(14px, 1, normal);

    svg {
        width: 1.2em;
        height: 1.2em;
        flex-shrink: 0;
    }

    &:first-of-type {
        svg {
            stroke: getColorPrimary();
        }
        color: getColorPrimary();
    }

    &:last-of-type {
        svg {
            stroke: getColorYellow();
        }
        color: getColorYellow();
    }
}

.modal_filters {
    margin-top: 30px;
}

// Animation
.enter {
    background: transparent;

    .modal {
        transform: translateX(100%);
    }
}

.enterActive {
    background: #262626cc;
    transition: background 300ms ease;

    .modal {
        transform: translateX(0%);
        transition: transform 300ms ease;
    }
}

.exit {
    background: #262626cc;

    .modal {
        transform: translateX(0%);
    }
}

.exitActive {
    background: transparent !important;
    transition: background 300ms ease;

    .modal {
        transform: translateX(100%);
        transition: transform 300ms ease;
    }
}
