.events {
    padding: 29px 0 52px;
}
.events_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.events_list {
    margin-top: 24px;
    padding: 24px 20px;
    border-radius: 24px;
    background: #171916;
}

@include -screen-md {
    .events_list {
        padding: 12px;
    }
    .event_title {
        font-size: 26px;
    }
}

@include -screen-sm {
    .event_title {
        font-size: 20px;
    }
}