html {
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    background: #121411;
    @include setFontPPMori600(16px, 1.25, normal, getColorWhite());
}

.container {
    max-width: 1165px + ($padding-xxl * 2);
}

.container {
    width: 100%;
    padding: 0 $padding-lg;
    margin: 0 auto;
}

.glow-bg {
    background-image: 
        linear-gradient(
            -35deg,
            rgba(#F9F9F9, 0.03) 0%,
            rgba(#F9F9F9, 0.03) 10%,
            transparent 10%,
            transparent 15%,
            rgba(#F9F9F9, 0.03) 15%,
            rgba(#F9F9F9, 0.03) 42%,
            transparent 42%
        );
}

@include screen-lg {
    .container {
        padding: 0 $padding-xl
    }
}

@include screen-xl {
    .container {
        padding: 0 $padding-xxl;
    }
}