html {
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    background: #121411;
    @include setFontPPMori600(16px, 1.25, normal, getColorWhite());
}

.container {
    max-width: 1165px + ($padding-xxl * 2);
}


.container {
    width: 100%;
    padding: 0 $padding-lg;
    margin: 0 auto;
}

.glow-bg {
    background-image: linear-gradient(
        -35deg,
        rgba(#f9f9f9, 0.03) 0,
        rgba(#f9f9f9, 0.03) 50px,
        transparent 50px,
        transparent 75px,
        rgba(#f9f9f9, 0.03) 75px,
        rgba(#f9f9f9, 0.03) 220px,
        transparent 220px
    );

    @include -screen-sm {
        background-image: linear-gradient(
            -35deg,
            rgba(#f9f9f9, 0.03) 0,
            rgba(#f9f9f9, 0.03) 35px,
            transparent 35px,
            transparent 60px,
            rgba(#f9f9f9, 0.03) 60px,
            rgba(#f9f9f9, 0.03) 160px,
            transparent 160px
        );
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;

        &-thumb {
            border-radius: 12px;
            background: transparent;
        }
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: #2f2f32;
        }
    }

    @include -screen-lg {
        &::-webkit-scrollbar-thumb {
            background: #2f2f32;
        }
    }
}

@include screen-lg {
    .container {
        padding: 0 $padding-xl;
    }
}

@include screen-xl {
    .container {
        padding: 0 $padding-xxl;
    }
}
