.content {
    padding-bottom: 35px;
}
.content_nav {
    border-bottom: 1px solid getColorWhite(0.15);
}

@include -screen-sm {
    .content_nav_navigation {
        @include setSubMargin(16px);
        overflow: auto;
        white-space: nowrap;
        display: flex;
    }
}