.header {
    border-bottom: 1px solid getColorWhite(0.2);
    position: sticky;
    top: 0;
    background: #121411;
    z-index: 50;
    // overflow: hidden;
}

.header_wrapper {
    display: flex;
    // align-items: center;
    min-height: 73px;
    padding: 8px 0;
    gap: 12px;
}

.header_logo {
    width: 67px;
    flex-shrink: 0;
    display: none;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.header_progress {
    padding: 5px;
    padding-right: 6px;
    border-radius: 18px;
    // height: 68px;
    max-width: 270px;
    width: 100%;
    background: linear-gradient(to bottom, #d5fd81, #b6d86e);
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 80%;
        border-radius: inherit;
        background: getColorPrimary();
        filter: blur(12px);
    }

    &::after {
        content: "";
        display: block;
        width: calc(100% + 3px);
        height: calc(100% + 2px);
        background: transparent;
        border: 1px solid #121411;
        border-right-width: 2px;
        position: absolute;
        left: 50%;
        top: 50%;
        left: -1px;
        top: -1px;
        border-radius: inherit;
        z-index: -1;
    }
}

.header_progress_inner {
    border-radius: 14px;
    height: 100%;
    background: url("/img/icons/rhombus.svg");
    padding: 6px 8px;
    padding-right: 12px;
    border: 1px solid #0c0e08;
    border-top-width: 3px;
}

/* Balance */
.header_balance {
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 16px;
}

.header_balance_wallet {
    span {
        background: url("/img/icons/wallet-bg.svg") !important;
        background-size: cover;
        background-position: center;
    }
}

// Account

.header_account {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_search {
    display: none;
}

// Auth
.header_auth {
    margin-left: auto;
    display: flex;
    gap: 16px;
    align-items: center;
    position: relative;
}

.header_stars {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(-18px, -50%);
    width: 40px;

    &::before {
        content: "";
        display: block;
        width: 120px;
        height: 47px;
        border-radius: 50%;
        background: getColorPrimary();
        filter: blur(160px);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    img {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .header_logo {
        display: block;
    }
    .header_progress {
        display: none;
    }
}

@include -screen-md {
    .header_wrapper {
        gap: 6px;
    }
    .header_balance_wallet {
        display: none;
    }
    .header_account {
        gap: 6px;
    }
    .header_search {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_balance {
        margin-right: 0;
    }
}

@include -screen-sm {
    .header_stars {
        display: none;
    }

    .header_auth {
        gap: 8px;
        button,
        a {
            > span {
                min-width: 78px;
                font-size: 12px;
            }
        }
    }
}

@include -screen-xs {
    .header_logo {
        width: 50px;
    }
    .header_notification {
        display: none;
    }
}