.tabs {
    display: flex;
    background: #2F2F32;
    border-radius: 100px;
}
.tabs_item {
    @include setTextLinesOverflow(1);
    height: 36px;
    border-radius: 100px;
    min-width: 112px;
    text-align: center;
    @include setFontPPMori400(14px, 1.1, normal, getColorWhite(0.4));
    transition: 100ms ease;
    transition-property: color, background;

    &:disabled {
        background: getColorWhite();
        color: getColorBlack();
    }
}