.sign_title {
}
.sign_services {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.sign_service_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 14px;

    border-radius: 14px;
    background: #212121;
    border: 0.8px solid #000000;

    transition: filter 150ms ease;;

    color: #FFF;

    img {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
    }
    
    &:hover {
        filter: brightness(0.9);
    }
}