.game {
    position: relative;
    display: block;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        border: 1px solid #000;
        transform: rotate(-8deg);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: getColorYellow();
        transition: transform 500ms ease;
    }

    &:hover::before {
        transform: rotate(0);
    }

    &:hover {
        .game_img {
            filter: brightness(0.5);
        }
        .game_btn {
            opacity: 1;
        }
    }
}

.game_content {
    position: relative;
    z-index: 2;
    display: block;

    aspect-ratio: 1 / 1.37;
    border: 2px solid getColorWhite();
    border-radius: 12px;

    overflow: hidden;
}

.game_img {
    @include setCoveredImage();
    transition: filter 200ms ease;
}

.game_marquee {
    transform: translate(50%, -180%) rotate(-30deg);
    position: absolute;
    right: 0;
    bottom: 0;
    background: getColorYellow();

    display: flex;
}

.game_marquee_item {
    display: block;
    padding: 0 4px;
    animation: marqueeToLeft 5s linear infinite;
    display: flex;
    gap: 8px;
}

.game_marquee_content {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 20px;

    @include setFontPPMori600(10px, 1.2, normal, #2a2a2c);
    text-transform: uppercase;

    svg {
        width: 10px;
        flex-shrink: 0;
        fill: #2a2a2c;
    }
}

.game_btn {
    z-index: 2;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 200ms ease;
    white-space: nowrap;

    > span {
        min-width: auto;
    }
}

@keyframes marqueeToLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
