.games {
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 178px;
        height: 70px;
        border-radius: 50%;
        background: getColorPrimary();
        position: absolute;
        left: 10%;
        top: 0;
        transform: translateY(80%);
        filter: blur(80px);
    }
}
.games_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 38px;
}
.games_header_title {
    display: inline-block;
    position: relative;
}
.games_header_bc {
    position: absolute;
    left: 140%;
    bottom: 10%;
}
.games_header_gc {
    position: absolute;
    left: 230%;
    bottom: 0;
}
.games_header_right {
    display: flex;
    gap: 12px;
}
.games_swiper {
    overflow: visible;
}
.games_swiper_slide {
    width: 192px;
}