.circle {
    animation: circleAnimation 2s linear infinite;
    transform-origin: center;
}

@keyframes circleAnimation {
    0% {
        transform: scale(0);
    }
    70%, 100% {
        transform: scale(1);
    }
}