.exclusives {
    padding: 52px 0 32px;
    border-bottom: 1px solid getColorWhite(20%);
}

.exclusives_content {
    position: relative;
}

.exclusives_list {
    margin-top: 26px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}

.exclusives_join {
    position: absolute;
    right: 0;
    top: 0;
    width: 117px;
    transform: translateY(-55%);
    z-index: 2;
    pointer-events: none;
}

@include -screen-xl {
    .exclusives_list {
        gap: 16px;
    }
}

@include -screen-md {
    .exclusives_list {
        grid-template-columns: 1fr 1fr;
    }
}

@include -screen-sm {
    .exclusives {
        border-bottom: none;
    }
    .exclusives_title {
        font-size: 20px;
    }
    .exclusives_list {
        grid-template-columns: 1fr;
    }
}
