.checkouts {
    position: relative;
    padding-bottom: 330px;
}
.checkouts_hand {
    position: absolute;
    left: -20px;
    bottom: 60px;
    width: 800px;
}
.checkouts_container {
    max-width: 1054px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}
.checkouts_title_container {
    display: flex;
    align-items: center;
    font-size: 200px;
    gap: 0.2em;
}
.checkouts_icon {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    object-fit: contain;
    border: 0.05em solid getColorPrimary();
    margin-right: -0.05em;
}
.checkouts_title {
    font-size: inherit;
    flex-shrink: 0;

    & > span {
        font-size: inherit !important;
    }
}
.checkouts_content {
    margin-top: 300px;
    max-width: 300px;
    margin-left: auto;
    position: relative;
}
.checkouts_content_bg {
    position: absolute;
    width: 104%;
    aspect-ratio: 1;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    svg {
        width: 100%;
        fill: #212121
    }

    &::before {
        content: "";
        display: block;
        width: 230%;
        aspect-ratio: 1 / 0.38;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background: getColorPrimary(0.2);
        filter: blur(160px)
    }
}
.checkouts_content_title {
    @include setFontHelveticaStd700(40px, 1.2, -0.04em, getColorWhite());
}
.checkouts_content_text {
    margin-top: 32px;
    max-width: 271px;
    @include setFontPPMori600(20px, 1.2, normal, getColorWhite());
}