.featured {
    padding: 26px 0 32px;
    overflow: hidden;
    border-bottom: 1px solid getColorWhite(20%);

    :global(.container) {
        position: relative;
        z-index: 1;
    }
}

.featured_light {
    position: absolute;
    left: 0;
    top: -26px;
    width: 800px;
    z-index: -1;
    transform: translateX(-8.75%);
}

.featured_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.featured_header_title {
    display: inline-block;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 210px;
        height: 60px;
        border-radius: 50%;
        background: getColorPrimary();
        position: absolute;
        left: 80%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: blur(100px);
    }
}

.featured_header_star {
    position: absolute;
    fill: #E9E9E9;
    stroke: #26103D;
    aspect-ratio: 1;
    width: 20px;
    opacity: 0.4;

    &._small {
        width: 16px;
        left: 140%;
        bottom: 100%;
        transform: translateY(50%);
    }

    &:not(._small) {
        bottom: 2px;
        left: 115%;
    }
}

.featured_header_right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.featured_header_viewBtn {
    margin-left: 16px;
}

.featured_swiper {
    overflow: visible;

    :global(.swiper-wrapper) {

    }
}

.featured_swiper_item {
    width: 170px;
    display: flex;
    height: auto;
}

.featured_swiper_img {
    width: 100%;
    object-fit: contain;
}

@include -screen-md {
    .featured {
        padding-top: 13px;
        border-bottom: none;
    }
    .featured_light {
        display: none;
    }
    .featured_title {
        font-size: 20px;
    }
    .featured_header_title::before {
        display: none;
    }
    .featured_swiper_item {
        width: 110px;
    }
    .featured_header_viewBtn {
        margin: 0;
    }
    .featured_footer {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }
}