.games_swiper {
    overflow: visible;
}
.games_swiper_newGame {
    width: 162px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.games_swiper_slot {
    width: 192px;
}
.games_swiper_dealer {
    width: 198px;
}
.games_controls {
    margin-top: 62px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

@include -screen-sm {
    .games_swiper_newGame {
        width: 136px;
    }
    .games_swiper_slot {
        width: 130px;
    }
    .games_swiper_dealer {
        width: 123px;
    }
    .games_controls {
        margin-top: 35px;
    }
}