.marquee {
    overflow: hidden;

    &:global(._utd),
    &:global(._dtu) {
        .marquee_wrapper {
            flex-direction: column;
        }
    }
}
.marquee_wrapper {
    display: flex;
    flex-shrink: 1;
}
.marquee_item {
    flex-shrink: 1;
}
