.wallet {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.wallet_nav_container {
    padding: 0 40px;
    border-bottom: 1px solid getColorWhite(0.15);
}
.wallet_nav {
    > div {
        gap: 48px;
    }
}
.wallet_content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 0px;
    flex: 1 1 auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
@include -screen-sm {
    .wallet_nav_container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .wallet_nav {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: auto;
        white-space: nowrap;
        flex-shrink: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        > div {
            gap: 24px;

            button {
                font-size: 14px;
            }
        }
    }
}
