.wallet {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.wallet_nav_container {
    padding: 0 40px;
    border-bottom: 1px solid getColorWhite(0.15);
}
.wallet_nav {
    > div {
        gap: 48px;
    }
}
.wallet_content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 0px;
    flex: 1 1 auto;

    &::-webkit-scrollbar {
        display: none;
    }
}