.window {
    background: rgba(#000, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    display: flex;
    flex-direction: column;
}

.window_modal {
    margin: auto;
    max-width: 288px;
    width: 100%;
    border-radius: 24px;
    background-color: #212121;

    padding: 24px 25px 28px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
}

.window_closeBtn {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: getColorWhite();
    z-index: 10;
    padding: 2px;

    transition: filter 150ms ease;
    
    svg {
        width: 100%;
        height: 100%;
        stroke: rgba(#000, 0.5);
    }

    &:hover {
        filter: brightness(0.7);
    }
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: opacity 350ms ease;
}
.exit {
    opacity: 1;
}
.exitActive {
    opacity: 0;
    transition: opacity 350ms ease;
}

@include -screen-sm {
    .window_modal {
        padding: 24px 12px;
    }
}