.featured_content {
    padding: 478px 0 75px;
}
.featured_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.featured_light {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -30%);
    width: 1260px;
    min-width: 1260px;
}
.featured_games {
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.featured_games_item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;

    img {
        width: 100%;
        opacity: 0;
        transition:
            transform 1s ease,
            opacity 500ms ease;
    }
}
.featured_content {
    // max-width: 490px;
    width: 100%;

    position: relative;

    &::before {
        content: "";
        display: block;
        width: 213px;
        height: 82px;
        position: absolute;
        left: 50%;
        bottom: 80px;
        border-radius: 50%;
        transform: translate(-50%, 0);
        background: getColorPrimary(0.4);
        filter: blur(130px);
    }
}
.featured_content_inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.featured_content_title {
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.featured_content_text {
    max-width: 480px;
    margin-top: 36px;
    text-align: center;

    opacity: 0;
    transform: translateY(20px);

    @include setFontPPMori600(16px, 1.1, normal, getColorWhite());
}
.featured_btn_box {
    margin-top: 52px;
    transform: rotate(-4.2deg);
}
.featured_btn_animation {
    transform: scale(0);
}
.featured_btn {
    font-size: 18px;
}

@include -screen-xl {
    .featured_content_title {
        font-size: 52px;
    }
}

@include -screen-sm {
    .featured_content_text {
        max-width: 342px;
    }
    .featured_content_title {
        font-size: 32px;
    }
}
