.input {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    height: 40px;
    gap: 8px;

    background: #212121;
    border-radius: 10px;
    cursor: text;

    svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        fill: getColorWhite();
        pointer-events: none;
    }

    input {
        height: 100%;
        @include setFontPPMori400(14px, 1.1, normal, getColorWhite());
        width: 100%;
        max-width: 100%;
        overflow: hidden;

        border: none;
        outline: none;

        &::placeholder {
            color: getColorGray();
        }
    }
}