.sale {
}
.sale_wrapper {
    // background: #1D1D1F;
    background: #1F1F21;
    padding: 424px 0 118px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}
.sale_starfield {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    // mix-blend-mode: screen;
}
.sale_wheel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -90%);
    max-width: 505px;

    img {
        transform: translateY(75%);
        opacity: 0;
    }
}
.sale_content {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}
.sale_title {
    font-size: 60px;
    max-width: 470px;
    text-align: center;
}
.sale_text {
    margin-top: 44px;
    text-align: center;
    @include setFontPPMori600(20px, 1.2, normal, getColorWhite());

    opacity: 0;

    span {
        font-size: 1.6em;
        color: getColorYellow();
    }
}
.sale_form {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 14px;

    transform: scale(0);
    opacity: 0;
}
.sale_form_input {
    width: 100%;
    padding: 0 24px;
    max-width: 100%;
    height: 45px;
    border-radius: 100px;
    background: #121411;
    border-color: getColorWhite(0.15);
    min-height: 45px;
    @include setFontPPMori600(16px, 1.1, normal, getColorWhite());

    &::placeholder {
        color: getColorGray();
    }
}
.sale_form_submitBtn {
}
.sale_or_login {
    margin-top: 36px;
    @include setFontPPMori600(16px, 1.1, normal, getColorGray());
    text-align: center;
    opacity: 0;
}
.socials {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
}


.socials_item {
    gap: 8px;
    opacity: 0;
    transform: scale(0);

    > span {
        padding: 0 12px;
        min-width: auto;
        img {
            width: 20px;
        }
    }

}

@include -screen-xxxl {
    .sale_wrapper {
        padding: 300px 0 100px;
    }
    .sale_title {
        font-size: 52px;
    }
    .sale_text,
    .sale_or_login,
    .socials {
        margin-top: 26px;
    }
    .sale_form {
        margin-top: 40px;
    }
}

@include -screen-lg {
    .sale_title {
        font-size: 46px;
    }
    .sale_wheel {
        max-width: 450px;
    }
    .sale_text {
        margin-top: 26px;
        font-size: 18px;
    }
    .sale_form {
        margin-top: 40px;
    }
}

@include -screen-sm {
    .sale_wrapper {
        padding-top: 380px 0 70px;
    }
    .socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        max-width: 248px;
    }
    .sale_form {
        padding: 0 16px;
        flex-direction: column;
        gap: 16px;
    }
}