.jackpot {
    padding: 40px 0;
}

.jackpot_title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.jackpot_games_wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.jackpot_games {
    position: absolute;
    top: 50%;

    display: flex;
    gap: 15px;

    &._left {
        right: 50%;
        transform: translate(-65%, -50%);
        mask: linear-gradient(to left, black, transparent 80%);
    }

    &._right {
        left: 50%;
        transform: translate(65%, -50%);
        mask: linear-gradient(to right, black, transparent 80%);
    }
}

.jackpot_games_item {
    width: 116px;
    height: 144px;
    border: 0.3px solid #121411;
    border-radius: 8px;
    background: linear-gradient(to bottom, #636b51, #303426);

    display: flex;
    flex-direction: column;

    img {
        margin: auto;
        @include setCoveredImage();
        width: calc(100% - 7px);
        height: calc(100% - 7px);
    }
}

.jackpot_block {
    margin-top: 32px;
    height: 294px;
    border-radius: 32px;
    background: url("/img/home/jackpot-bg.webp");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.jackpot_block_rays {
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten;
    z-index: -1;
    min-width: 1300px;
    flex-shrink: 0;
    margin-top: 25px;

    img {
        width: 100%;
        aspect-ratio: 1;

        animation: jackpotRotation 20s linear infinite;
    }
}
.jackpot_coins {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
.jackpot_content {
    max-width: 410px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 8px 10px 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.jackpot_content_img {
    width: 100%;
}
.jackpot_content_text {
    margin-top: -5px;
    @include setFontCubano400(32px, 1, -0.04em, #fee425);
    -webkit-text-stroke: 4px #000;
    paint-order: stroke fill;
}
.jackpot_content_ribbon {
    margin-top: 16px;
}

@include -screen-lg {
    .jackpot_block {
        height: auto;
        padding-bottom: 34px;
    }
    .jackpot_coins {
        display: none;
    }
    .jackpot_games_wrapper {
        // margin-top: 22px;
        position: relative;
        inset: auto;
        transform: none;
        display: flex;
        justify-content: center;
        gap: 15px;
        mask: linear-gradient(to right, transparent 10%, black, black, transparent 90%);
    }
    .jackpot_games {
        position: relative;
        inset: auto !important;
        transform: none !important;
        mask: unset !important;
    }
    .jackpot_block_rays {
        min-width: 1000px;
    }
}

@include -screen-md {
    .jackpot_title {
        font-size: 26px;
    }
    .jackpot_block {
        padding-top: 24px;
        border-radius: 16px;
    }
    .jackpot_content_img {
        max-width: 290px;
    }
    .jackpot_content_text {
        font-size: 24px;
    }
    .jackpot_content_ribbon {
        margin-top: 12px;
    }
    .jackpot_block_rays {
        margin-top: 12px;
        min-width: 800px;
    }
    .jackpot_games {
        gap: 9px;
    }
    .jackpot_games_wrapper {
        gap: 9px;
    }
    .jackpot_games_item {
        width: 78px;
        height: 96px;
        border-radius: 8px;

        img {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
        }
    }
}
@include -screen-sm {
    .jackpot_title {
        font-size: 20px;
    }
    .jackpot_block {
        margin-top: 24px;
    }
}

@include -screen-xs {
    .jackpot_content_img {
        max-width: 220px;
    }
    .jackpot_block_rays {
        margin-top: 0;
        min-width: 500px;
    }
}

@keyframes jackpotRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
