.wins {
    position: relative;
}
.wins_content {
    padding-top: 73px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.wins_back {
    margin-top: 73px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 440px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        content: "";
        display: block;
        width: 190%;
        aspect-ratio: 1 / 0.3845;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: getColorPrimary(20%);
        filter: blur(160px);
        z-index: 2;
    }
}
.wins_back_svg {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    svg {
        width: 100%;
        height: 100%;
        fill: #2a2a2c;
        transform-origin: center;
        transform: scale(0.5) rotate(180deg);
        opacity: 0;
    }
}
.wins_back_title {
    font-size: 60px;
    text-align: center;
    z-index: 3;
}
.wins_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: relative;
}
.wins_cards_item {
    height: 100vh;

    display: flex;
    align-items: center;
    transform: translateY(-100%);

    &:nth-child(odd) {
        transform: translateY(100%);
    }
}

.wins_cards_video {
    aspect-ratio: 1 / 1.79;
    border-radius: 24px;

    img {
        @include setCoveredImage();
    }
}

@include -screen-lg {
    .wins_cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .wins_cards_video {
        aspect-ratio: 1 / 1.6;
    }
    .wins_cards_item {
        height: 50vh;
    }
    .wins_cards_item {
        &:nth-child(1),
        &:nth-child(2) {
            align-items: flex-end;
        }
        &:nth-child(3),
        &:nth-child(4) {
            align-items: flex-start;
        }

        &:nth-child(1) {
            transform: translateY(-100%);
        }
        &:nth-child(2) {
            transform: translateY(-150%);
        }
        &:nth-child(3) {
            transform: translateY(150%);
        }
        &:nth-child(4) {
            transform: translateY(100%);
        }
    }
}
@include -screen-md {
    .wins_back {
        width: 288px;

        &::before {
            filter: blur(110px);
        }
    }
    .wins_back_title {
        font-size: 32px;
    }
}
@include -screen-sm {
    .wins_cards {
        gap: 6px;
    }
}
