.events_list {
    overflow-x: auto;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        

        &-thumb {
            border-radius: 12px;
            background: transparent;
        }
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: #2F2F32;
        }
    }

    @include -screen-lg {
        &::-webkit-scrollbar-thumb {
            background: #2F2F32;
        }
    } 
}

.events_title {
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid getColorWhite(0.15);
    @include setFontPPMori400(14px, 1.05, normal, getColorWhite(0.5));

    &_main {
        min-width: 214px;
        flex-grow: 1;
        padding-left: 10px;
    }
    &_date {
        min-width: 200px;
    }
    &_type {
        min-width: 160px;
        text-align: center;
    }
    &_prize {
        min-width: 164px;
        text-align: center;
    }
    &_status {
        min-width: 164px;
        text-align: center;
    }
    &_action {
        min-width: 134px;

        text-align: right;
    }
}
