.modal_window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 250;
    background: rgba(#262626, 0.8);
    padding: 24px;

    display: flex;
    flex-direction: column;
}

.modal {
    margin: auto;
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: opacity 350ms ease;
}
.exit {
    opacity: 1;
}
.exitActive {
    opacity: 0;
    transition: opacity 350ms ease;
}
