.games {
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 178px;
        height: 70px;
        border-radius: 50%;
        background: getColorPrimary();
        position: absolute;
        right: 20%;
        top: 0;
        transform: translateY(80%);
        filter: blur(80px);
    }
}
.games_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 38px;
}
.games_header_right {
    display: flex;
    gap: 12px;
}
.games_swiper {
    overflow: visible;
}
.games_swiper_slide {
    width: 198px;
}

@include -screen-lg {
    .games_title {
        font-size: 26px;
    }
    .games_header {
        margin-bottom: 24px;
    }
    .games_swiper_slide {
        width: 140px;
    }
}
@include -screen-sm {
    .games_title {
        font-size: 20px;
    }
    .games_header {
        margin-bottom: 12px;
    }
    .games_swiper_slide {
        width: 110px;
    }
    .dealer {
        border-radius: 12px;
        padding: 3px;

        > * {
            border-radius: 9px;
        }
    }
}